@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        FAST ISLAMABAD<br />
        H11/4<br />
        <abbr title="Phone">P:</abbr>
        03125851544
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@HomeCarePro.com">Support@HomeCarePro.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@HomeCarePro.com">Marketing@HomeCarePro.com</a>
    </address>
</main>