@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Home Care Pro</h1>
        <p class="lead">
            <br>
            <strong>Where we're transforming the way home services are provided. Say goodbye to the hassle of finding reliable service professionals for your home maintenance needs. With HomeCarePro, you can easily connect with trusted service providers in your area, whether you need plumbing, electrical, cleaning, gardening, or any other home service.</strong>

            <strong>Our platform simplifies the entire process, from booking appointments to secure payments, ensuring a seamless experience every step of the way. We handpick our service providers to guarantee quality and reliability, giving you peace of mind knowing that your home is in good hands.</strong>

            <strong>Join the revolution in home service provision with HomeCarePro and experience convenience, reliability, and excellence like never before. Welcome to a new era of home care.</strong>

           
        </p>

        <p class="lead">
            <img src="~/images/1.jpeg">
            <img src="~/images/2.jpeg">
            <img src="~/images/3.png">
            <img src="~/images/4.png">
            </p>

</section>

    
    
</main>