@{
    ViewBag.Title = "Services";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>HomeCarePro: Revolutionizing Home Service Provision</p>
</main>